<%- contentFor('body') %>

<div class="container-fluid mt-2">
  <div class="row justify-content-center">
    <div class="d-flex show-product">
      <div class="card mb-3 mx-auto">
        <img class="card-img-top img-card-show" src="<%=  %>" alt="<%=  %>">
        <div class="card-body">
          <p class="float-right">
            R$<%=  %>
          </p>
          <h5 class="card-title"><%= cart %></h5>
          <p class="card-text"><%=  %></p>
          
        </div>
      </div>
    </div>
  </div>
</div>

  