<%- contentFor('body') %>
<div class="container"></div>
  <div class="page-header mb-5 mt-5">
      <h2 class="title">Gerenciamento de Vendas</h2>
  </div>

  <div class="d-flex mb-1" >
    <h4>Vendas Realizadas</h4>
  </div>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Total</th>
        <th>Data</th>
        <th>Cliente</th>
      </tr>
    </thead>
    <tbody>
      <% for (order of orders){%>
        <tr onclick="window.location = '/order/<%= order._id %>/producer'">
          <td>
            <% var total = order.products.reduce((acumulador, product) => {
                return acumulador += product.price * product.quantity;
              }, 0)
            %>
            R$ <%= total.toFixed(2)%>
          </td>
          <td>
            <% var formattedDate = ((order.createdAt.getDate() )) + 
              "/" + ((order.createdAt.getMonth() + 1)) + 
              "/" + order.createdAt.getFullYear(); 
            %>
            <%= formattedDate %>
          </td>
          <td><%= order.costumer %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>