<%- contentFor('body') %>
<div class="container"></div>
  <div class="page-header mb-5 mt-5">
      <h2 class="title">Gerenciamento de Vendas</h2>
  </div>

  <div class="d-flex mb-1" >
    <h4>Informações Venda</h4>
  </div>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Total Produto</th>
      </tr>
    </thead>
    <tbody>
      <% for (product of order.products){%>
        <tr>
          <td><%= product.title %></td>
          <td><%= product.quantity %></td>
          <td><%= product.price %></td>
          <td>
            <% var total = product.quantity * product.price
            %>
            R$ <%= total.toFixed(2)%>
          </td>
        </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td class="font-weight-bold">Total Venda</td>
        <td class="font-weight-bold">
          <% var total = order.products.reduce((acumulador, product) => {
              return acumulador += product.price * product.quantity;
            }, 0)
          %>
          R$ <%= total.toFixed(2)%>
        </td>
      </tr>
    </tfoot>
  </table>
</div>