<%- contentFor('body') %>
<div class="container"></div>
  <div class="page-header mb-5 mt-5">
      <h2 class="title">Gerenciamento de Produtos</h2>
  </div>

  <div class="d-flex mb-1" >
    <h4>Produtos Cadastrados</h4>
    <a href="/admin/products/new" class="ml-auto btn btn-success">
      <i class="fas fa-plus"></i> Adicionar
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <% for (product of products){%>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td>
            <a href="/admin/products/<%=product.id%>/edit">
              <button class="btn btn-primary">
                <i class="far fa-edit"></i> Editar
              </button>
            </a>
          </td>
          <td>
            <form action="/admin/products/<%=product.id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">
                <i class="far fa-trash-alt"></i> Deletar
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>